body{
    margin: 0;
    padding: 0;
    
}
 
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
 display: flex;
 justify-content: space-between;
 height: 0vh;
}

.navbar-logo {
    justify-self: start;
    margin-left: 2%;
    margin-top: 5%;
    
}

.ver-carrito{
 font-size: 25px;
 margin-right: 20px;
 margin-top: 5%;
 cursor: pointer;
 
}
 .bannerafa {
    box-sizing: border-box;
    background-size:auto;
    background-position-x: center;
    margin-top: 0;
    
} 

.title{
    text-align: center;
    color: #00cef5;
    font-family: sans-serif;}

.parrafo{
    background-color: #00cef5;
    text-align: center;
    text-decoration: dotted;
}

.banner h1 {
    margin: 0;
    color: aqua;
    text-shadow: 1px 1px 3px;
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 3px;

}

